.editorLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0f1011;
  overflow: hidden;

  .editorLayoutHeader {
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid #3f3f3f;
  }

  .editorLayoutContent {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .editorLayoutLeft {
    width: 20vw;
  }

  .editorLayoutCenter {
    flex: 1;
    background-color: #272727;
  }

  .editorLayoutRight {
    width: 20vw;
    height: 100%;
  }

  .editorLayoutFooter {
    width: 100%;
    height: 36px;
    border-top: 1px solid #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    font-size: 12px;
  }
}